{% extends 'logged_base.html' %}

{% block detail %}

<div class="container-fluid">
    <h1 class="mt-4">Dashboard</h1>
    <div class="row">
        <div class="col-sm-2 my-1">
            <a class="btn btn-success" href="#new_workspace_form" id="new_workspace_show_btn">New Workspace</a>
            <a class="btn btn-warning" id="new_workspace_hide_btn" style="display: none;">Hide form</a>
        </div>
    </div>
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    <form action="" class="mx-3" method="post" novalidate id="new_workspace_form" style="display: none;">
        {{ ws_form.hidden_tag() }}
        <div class="form-row">
            <div class="col-md-2">
                <div class="form-group">
                    {{ ws_form.ws_name(class="form-control") }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                {{ ws_form.submit(class="btn btn-outline-secondary", value="Create") }}
                </div>
            </div>
            {% for error in ws_form.ws_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    </form>
    <div class="row">
        {% for workspace in workspaces %}
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body"><a class="text-white stretched-link" href="#" id="open_tabs_{{ workspace.name }}">{{ workspace.name }}</a></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        // Show form on button clicked
        $('#new_workspace_show_btn').click(function(){
            $('#new_workspace_form').show()
            $('#new_workspace_show_btn').hide()
            $('#new_workspace_hide_btn').show()
        });
        // Hide form on button clicked
        $('#new_workspace_hide_btn').click(function(){
            $('#new_workspace_form').hide()
            $('#new_workspace_hide_btn').hide()
            $('#new_workspace_show_btn').show()
        });
        // Open all links of the clicked workspace button
        {% for workspace in workspaces_list %}
        $('#open_tabs_{{workspace.name}}').click(function() {
            // e.preventDefault();
            {% for link in workspace.links %}
            window.open('{{link.url}}');
            {% endfor %}
        });
        {% endfor %}
    });
</script>
{% endblock %}