{% extends 'logged_base.html' %}

{% block detail %}

<div class="container-fluid">
    {% if linkcases %}
    <h1 class="my-4">Your linkcases</h1>
    {% else %}
    <h1 class="my-4">Create your first Linkcase</h1>
    <p>Create your first Linkcase and start collecting your favorite urls in it!</p>
    {% endif %}
    <form action="" class="mx-3" method="post">
        {{ linkcase_form.hidden_tag() }}
        <div class="form-row">
            <div class="col-md-2">
                <div class="form-group">
                    {{ linkcase_form.linkcase_name(class="form-control") }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                {{ linkcase_form.submit(class="btn btn-outline-secondary", value="Create") }}
                </div>
            </div>
            {% for error in linkcase_form.linkcase_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </div>
    </form>
    <table class="table table-hover my-3" style="max-width: 500px;">
        <thead>
            <tr>
              <th scope="col">Linkcase</th>
              <th scope="col">Open all</th>
            </tr>
        </thead>
        {% for linkcase in linkcases_list %}
        <tbody>
            <tr>
                <td scope="row"><a href="{{ url_for('linkcase_detail', linkcase_name=linkcase.name) }}">{{ linkcase.name|replace('_', ' ') }}</a></td>
                {% if linkcase.links %}
                    <td><a href="{{ linkcase.url }}" id="open_tabs_{{ linkcase.name }}"><i class="fas fa-external-link-alt"></i></a></td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        // Open all links of the clicked workspace button
        {% for linkcase in linkcases_list %}
        $('#open_tabs_{{linkcase.name}}').click(function() {
            // e.preventDefault();
            {% for link in linkcase.links %}
            window.open('{{link.url}}');
            {% endfor %}
        });
        {% endfor %}
    });
</script>
{% endblock %}