{% extends "base.html" %}
{% block content %}
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="{{ url_for('index') }}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <div class="sb-sidenav-menu-heading">Workspaces</div>
                    <form action="" class="mx-3 text-center" method="post" novalidate>
                        {{ linkcase_form.hidden_tag() }}
                        <div class="input-group mb-3">
                            {{ linkcase_form.linkcase_name(class="form-control") }}
                            <div class="input-group-append">
                                {{ linkcase_form.submit(class="btn btn-outline-secondary") }}
                            </div>
                            {% for error in linkcase_form.linkcase_name.errors %}
                            <span style="color: red;">[{{ error }}]</span>
                            {% endfor %}
                        </div>
                    </form>
                    {% for linkcase in linkcases %}
                    <a class="nav-link" href="{{ url_for('linkcase_detail', linkcase_name=linkcase.name) }}">
                        <div class="sb-nav-link-icon"></div>
                        {{ linkcase.name }}
                    </a>
                    {% endfor %}
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as:</div>
                {{ current_user.username }}
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-info">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            {% block detail %}
            {% endblock %}
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div></div>
                    <div>
                        <div class="text-muted">Copyright &copy; Linkcase.org {{ now.year }}</div>
                        <!-- <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a> -->
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

{% endblock %}